---
---
@import "{{ site.theme }}";

/** Images */
img {margin: auto;
  display: block}


h1 { text-align: center; font-size:42px; font-weight:800;
}

@media only screen and (max-width: 600px) {

 img {height: auto !important;width: 100%; height: 100%; margin: 0; padding: 0;}
}


.link-container {
text-align: center;
margin-left:auto;
margin-right:auto;
margin-top:25px;
margin-bottom:25px;
padding:10px;
}

a.box:hover{
  border-bottom: 0px solid #232323;
}
a.box {
 background-color: #2689D5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  width:50%;style:block;margin-left:auto;margin-right:auto;
  margin-top: 25px;
} 
